.alert-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: black;
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  left: 0;

  .alert-card {
    background: white;
    width: 600px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;

    .alert-header {
      margin-bottom: 25px;
    }

    .alert-message {
      margin-bottom: 20px;
    }

    .alert-buttons {
      text-align: right;
    }
  }
}