* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --kado-fontSize-2xl: 1.5rem;
  
  --kado-avatar-size: 6rem;

  --kado-border-full: 9999px;
  
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 7px 23px;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(246,215,47);
  color: #000;
  border: 1px solid rgb(246,215,47);;
}

.btn-primary:hover {
  background-color: rgba(246,215,47,0.8);
}

.btn-secondary {
  background: rgba(0,0,0,0);
  border: none;
}