* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--kado-primary-color);
}

:root {
  --kado-primary-color: #0D1E28;
  --kado-secondary-color: #a9a9a9;

  --kado-fontSize-sm: 0.875rem;
  --kado-fontSize-2xl: 1.5rem;
  
  --kado-avatar-size: 6rem;

  --kado-border-full: 9999px;

  --kado-sizes-10: 2.5rem;
  
  --kado-space-2: 0.5rem;
  --kado-space-4: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 7px 23px;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(246,215,47);
  color: #000;
  border: 1px solid rgb(246,215,47);;
}

.btn-primary:hover {
  background-color: rgba(246,215,47,0.8);
}

.btn-secondary {
  background: rgba(0,0,0,0);
  border: none;
}